$complete: #35a573;
$complete-lite: #96c1ae;
$active: #6cc1ed;
$reject: #cb6162;
$reject-lite: #dd9899;
$mute: #e6e6e6;

div[name='approvals'] {
    width: 100%;
    overflow-x: auto;
       background-color: #f6f7fa;
     &::-webkit-scrollbar{
        width:10px;
        height: 3px;
    }
    &::-webkit-scrollbar-thumb{
        background: $complete-lite;
        border-radius: 0px;
    }
    &::-webkit-scrollbar-thumb:hover{
        background:$reject-lite;
    }
    &::-webkit-scrollbar-track{
        background:$mute;
    }
    &::-webkit-scrollbar-button{
        background:$mute;
    }
}

.approval-flow {
  width: 77rem;
  margin: 1rem;
  overflow: hidden;

  .head {
    background: #eee;
    padding: 3px 10px;
  }
  .steps {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    min-height: 3rem;
    color: darken($mute, 33%);
    > .step {
      position: relative;
      display: table-cell;
      text-align: center;
      font-size: 0.875rem;
      color: #6d6875;
      & .round-info {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        background: #ffffff;
        border: 2px solid $mute;
        color: $mute;
        width: 2.5rem;
        height: 2.5rem;
        text-align: center;
        line-height: 1.9rem;
        border-radius: 100%;
        position: relative;
        z-index: 1;
        border: 2px solid;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        &.done {
          color: $complete;
          cursor: pointer !important;
        }
        &.reject {
          color: $reject;
          cursor: pointer !important;
        }
        &.next {
          color: $active;
          font-size: 1.4rem;
          display: flex;
          justify-content: center;
          align-items: center;
          display: block;
        }
        &.upcoming {
          color: $mute;
          border-color: $mute;
        }
        &.finish {
          display: flex;
          justify-content: center;
          align-items: center;
          color: $complete;
          border-color: $complete;
          font-size: 1.5rem;
        }
      }
      &:after {
        content: "";
        position: absolute;
        display: block;
        background: $mute;
        width: 100%;
        height: 0.125rem;
        top: 3rem;
        left: 50%;
        color: #c7c7c7;
        opacity: 0.7;
      }
      &:last-child:after {
        display: none;
      }
      .status {
        position: absolute;
        display: block;
        background: none;
        width: 100%;
        height: 0.125rem;
        top: 2.5rem;
        left: 50%;
        z-index: 1;
        color: #adadad;

        &.approve {
            color: $complete-lite
        }
        &.reject {
            color: $reject-lite;
        }
        strong {
          padding: 0px 4px;
          border: 1px solid $mute;
          background: #fff;
          border-radius: 10px;
          z-index: 1;
          font-size: 0.8rem;
        }
      }
      &.is-approve {
        &:after {
          content: "";
          background: $complete-lite;
          color: $complete;
        }
      }
      &.is-reject {
        &:after {
          content: "";
          background: $reject-lite;
          color: $reject;
        }
      }
      &:last-child .status {
        display: none;
      }
    }
  }
}