/* Basic styling for the form section */
.gshock-form-section {
    background: black;
    font-family: Montserrat, sans-serif;
    padding: 40px 0;
  /*  background-image: url('/kg_gshock_page/static/description/images/background.png'); */
    background-size: cover;
    clear: both;
    padding: 0;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    height: 100% !important;
    overflow-x: hidden;

    .container {
        margin: auto;
        background: #fff;
        padding: 75px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .dob-container {
        display: flex;
        align-items: center;
        border-radius: 4px;
        padding: 20px;
        margin: 0 auto;
        box-sizing: border-box;
        border: 1px solid #ccc;
    }

    .dob-label {
        font-weight: 600;
        text-align:left;
    }

    .dob-divider {
        display: inline-block;
        width: 1px;
        height: 60px;
        margin: 0 10px;
        background-color: #ccc;
    }

    .dob-select {
        border: none;
        background: transparent;
        font-size: 14px;
        padding: 0 5px;
        outline: none;
        min-width: 70px;
        border:unset !important;
        cursor: pointer;
    }

    /* Optional hover/focus states */
    .dob-select:focus {
        outline: none;
        box-shadow: none;
    }


    h1 {
        text-align: center;
        margin-bottom: 30px;
        color: #222;
        font-weight: 700;
        font-size: 2.9vw;
    }

    .form-group {
        margin-bottom: 20px;

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: 600;
        }

        input[type="text"],
        input[type="email"],
        input[type="date"],
        textarea,
        select {
            height: 60px;
            padding: 12px 12px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: white;
        }

        input[type="radio"] {
            margin-right: 5px;
        }
    }
    .dob-container select{
        text-align:center;
    }
    .flex-row {
        display: flex;
        gap: 20px;
        /* Space between fields */
    }

    .flex-item {
        flex: 1;
        /* Each item takes up equal width */
    }

    .text-area {
        height: 130px !important;
        ;
    }

    .phone-group {
        display: flex;
        align-items: center;
        border-radius: 8px;
        border: 1px solid #ccc;
        overflow: hidden;
        background:#f8f8f8;
    }

    .gender-options {
        display: flex;
        gap: 20px;
        margin-top: 8px;
        height:90px;
    }



    .gender-option input[type="radio"] {
        /* Hide the default radio circle */
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .gender-option span {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 22px 26px 22px 26px;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    /* Optional hover effect */
    .gender-option:hover span {
        border-color: #f7f7f7;
    }

    .gender-option input[type="radio"]:checked+span {
        border-color: #000;
    }


    /* When the radio is checked, style the box differently */
    .gender-option input[type="radio"]:checked+span {
        border: 5px solid #000;
        font-weight: 600;
        /* Make the text bold */
        /* If you want a dark fill, uncomment:
    background-color: #000;
    color: #fff;
    */
    }

    .lang-selection {
        font-size: 14px;
        color: #333;
        padding-bottom: 15px;
        font-weight: 1000;
        color: gray;
        font-family: Montserrat, sans-serif;
    }

    .list-lang {
        cursor: pointer;
        font-weight: 1000;
    }


    .country-code {
        background: #f8f8f8;
        padding: 0 10px;
        font-weight: bold;
    }

    .phone-input {
        flex: 1;
        padding: 10px;
        border: none;
        border: none;
        outline: none;
        font-size: 14px;
        border-radius:unset !important;
    }

    .phone-input::placeholder {
        color: #999;
    }

    .lang-option {
        position: relative;
        display: inline-flex;
    }

    .lang-option input[type="radio"] {
        /* Hide the native radio circle */
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .lang-option span {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 22px 45px 22px 45px;
        min-width: 100px;
        text-align: center;
        cursor: pointer;
        background-color: #fff;
    }

    /* Hover effect (optional) */
    .lang-option:hover span {
        background-color: #f0f0f0;
    }

    /* When the radio is checked, style the box differently */
    .lang-option input[type="radio"]:checked+span {
        border: 5px solid #000;
    }


    /* Hover effect (optional) */

    .privacy-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* Spread checkbox on the left, button on the right */
        margin-top: 20px;
    }

    .privacy-wrapper button:disabled{
        background-color:#00000078;
    }

    .privacy-wrapper .privacy-check label{
        margin-bottom:0px !important;
    }

    .privacy-check {
        display: flex;
        align-items: center;
        gap: 8px;
        /* Space between the checkbox and text */
    }

    /* Example black button style */
    .btn-black {
        background-color: #000;
        color: #fff;
        padding: 15px 20px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 19px;
        width: 27%;
    }

    .pref-lang {
        background: #f5f5f5;
        border-radius: 8px;
    }

    .btn-black:hover {
        background-color: #333;
        /* Slightly lighter on hover */
    }

    .custom-input {
        width: 100%;
        height: 45px;
        padding: 0 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-sizing: border-box;
    }

    .btn-primary {
        background-color: #000;
        border-color: #000;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        color: #eee;

        &:hover {
            border-color: #eee;
            color:#eee;
        }
    }
}

/* Thank You page styling */
.gshock-thank-you-section {
    padding: 40px 0;

    .container {
        max-width: 700px;
        display: block;
        text-align: center;
        margin: auto;
        position: absolute;
        top: 25%;
        left: 23%;
    }
}

/* Scan page styling */
.gshock-scan-section {
    padding: 40px 0;

    .container {
        max-width: 700px;
        display: block;
        text-align: center;
        margin: auto;
        position: absolute;
        top: 24%;
        left: 23%;
    }
}
@media screen and (min-width:1500px ){
.gshock-scan-section {
    .container {
        position:sticky;
    }
}
}
/*
@media screen and (min-width:1500px ){
.gshock-form-section {
    .container {
        top: 26%;
        left: 25%;
    }
}
}
@media screen and (min-width:1600px ){
.gshock-form-section {
    .container {
        top: 28%;
        left: 30%;
    }
}
}
}
*/

@media screen and (max-width:1200px ){
.gshock-thank-you-section .container {
    left: 17px;
}
.gshock-scan-section .container {
    left: 17px;
}
}

@media screen and (max-width: 900px) {
    .gshock-scan-section .container {
        left:10% !important;
    }
    .gshock-thank-you-section .container {
        left: 7% !important;
    }
    .lang-option span{
        padding:22px 30px 22px 30px !important;
    }
}

@media screen and (max-width: 1100px) {
    .gshock-scan-section .container {
        left:17%;
    }
    .gshock-thank-you-section .container {
        left: 17%;
    }
}

@media screen and (max-width:767px ){
.gshock-scan-section {
    height:100% !important;
    .container{
        top: 15%;
    }
}

.gshock-scan-section {
    .container{
            top: 25% !important;
            left: 8% !important;
            padding: 18px !important;
}
}

.gshock-form-section {
    height:100% !important;
    .container{
        top: 0;
        left: 0;
        padding:25px;
    }
}

.dob-divider{
    display:none !important;
}
.lang-option span{
    padding: 8px 10px !important;
}
.pref-lang{
padding:25px 5px !important;
}

.gender-option input[type="radio"]:checked+span{
border: 2px solid #000 !important;
}
.lang-option input[type="radio"]:checked+span{
border: 2px solid #000 !important;
}
.btn-black{
width:100% !important;
}
.dob-label{
text-align:center !important;
}
.dob-container select{
text-align: center !important;
border-top: 1px solid black !important;
border-radius: 0px !important;
margin-top: 14px !important;
}

.gshock-thank-you-section .container {
    top: 146px;
    left: 35px;
    padding: 25px;
    width: 80%;
}

.gshock-thank-you-section img {
    display:none;
}
}
