.o_list_view .o_list_table thead {
    position: sticky;
    top: 0;
    z-index:999;
}
.table-responsive{
    overflow: visible;
}
.o_list_view .table-responsive .table thead {
z-index: 1;
}

.o_field_x2many .table-responsive {
    overflow: auto!important;
}

.o_list_renderer .o_list_table thead th {
  color: black;
  background-color: #dbdfe6;
  border-bottom: none;
}